.first-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.first-page .overlap-wrapper {
  background-color: #ffffff;
  height: 926px;
  width: 428px;
}

.first-page .overlap-5 {
  background-image: url(../../../static/img/mask-group-1.png);
  background-size: 100% 100%;
  height: 926px;
  position: relative;
}

.first-page .rectangle-4 {
  background-color: #c4c4c4;
  border-radius: 5px;
  height: 4px;
  left: 149px;
  position: absolute;
  top: 907px;
  width: 130px;
}

.first-page .frame-16 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 107px;
  left: 68px;
  position: absolute;
  top: 191px;
}

.first-page .online-world-cuate {
  height: 285.79px;
  position: relative;
  width: 284.6px;
}

.first-page .frame-17 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.first-page .union-wrapper {
  align-items: flex-start;
  background-color: #bce7ff;
  border-radius: 10px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  position: relative;
}

.first-page .union {
  height: 27.17px;
  position: relative;
  width: 28.03px;
}

.first-page .frame-18 {
  display: block;
  height: 31px;
  position: relative;
  width: 242px;
}

.first-page .overlap-group-3 {
  height: 27px;
  position: relative;
  top: 4px;
}

.first-page .group-18 {
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  width: 242px;
}

.first-page .union-2 {
  height: 27px;
  left: 21px;
  position: absolute;
  top: 0;
  width: 28px;
}

.first-page .frame-19 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.first-page .rectangle-5 {
  background-color: #007aff;
  border-radius: 5px;
  height: 8px;
  position: relative;
  width: 27px;
}

.first-page .rectangle-6 {
  background-color: #c4c4c4;
  border-radius: 5px;
  height: 8px;
  position: relative;
  width: 8px;
}

.first-page .status-bar-2 {
  height: 22px;
  left: 15px;
  position: absolute;
  top: 20px;
  width: 398px;
}

.first-page .battery-2 {
  height: 14px;
  left: 369px;
  position: absolute;
  top: 5px;
  width: 29px;
}

.first-page .wifi-2 {
  height: 13px;
  left: 344px;
  position: absolute;
  top: 5px;
  width: 18px;
}

.first-page .cellular-connection-2 {
  height: 13px;
  left: 318px;
  position: absolute;
  top: 5px;
  width: 20px;
}

.first-page .time-style-2 {
  height: 22px;
  left: 0;
  position: absolute;
  top: 0;
  width: 42px;
}

.first-page .text-wrapper-12 {
  color: #000000;
  font-family: "SF Pro Text-Semibold", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 40px;
}
