.home {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home .div-2 {
  background-color: #ffffff;
  height: 926px;
  overflow: hidden;
  position: relative;
  width: 428px;
}

.home .overlap-group-2 {
  background-image: url(../../../static/img/mask-group.png);
  background-size: 100% 100%;
  height: 926px;
  left: 0;
  position: absolute;
  top: 0;
  width: 428px;
}

.home .overlap-2 {
  height: 115px;
  left: 0;
  position: absolute;
  top: 811px;
  width: 428px;
}

.home .group-14 {
  height: 115px;
  left: 26px;
  position: absolute;
  top: 0;
  width: 376px;
}

.home .rectangle-3 {
  height: 83px;
  left: 0;
  position: absolute;
  top: 32px;
  width: 428px;
}

.home .div-3 {
  height: 44px;
  left: 32px;
  position: absolute;
  top: 59px;
  width: 366px;
}

.home .home-wrapper {
  align-items: flex-start;
  background-color: #ebf8ff;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #00000026;
  display: inline-flex;
  gap: 10px;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 0;
}

.home .img-2 {
  height: 24px;
  position: relative;
  width: 24px;
}

.home .ellipse {
  height: 24px;
  left: 342px;
  position: absolute;
  top: 9px;
  width: 24px;
}

.home .briefcase {
  height: 24px;
  left: 178px;
  position: absolute;
  top: 9px;
  width: 24px;
}

.home .groups {
  height: 30px;
  left: 257px;
  position: absolute;
  top: 6px;
  width: 30px;
}

.home .person-add-alt {
  height: 24px;
  left: 99px;
  position: absolute;
  top: 9px;
  width: 24px;
}

.home .frame-5 {
  height: 26px;
  left: 39px;
  position: absolute;
  top: 63px;
  width: 175px;
}

.home .overlap-3 {
  background-image: url(../../../static/img/group-9.png);
  background-size: 100% 100%;
  height: 123px;
  left: 29px;
  position: absolute;
  top: 131px;
  width: 370px;
}

.home .line-2 {
  height: 16px;
  left: 145px;
  object-fit: cover;
  position: absolute;
  top: 89px;
  width: 1px;
}

.home .line-3 {
  height: 16px;
  left: 232px;
  object-fit: cover;
  position: absolute;
  top: 89px;
  width: 1px;
}

.home .overlap-4 {
  height: 118px;
  left: 29px;
  position: absolute;
  top: 294px;
  width: 370px;
}

.home .frame-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 13px;
  left: 29px;
  position: absolute;
  top: 33px;
}

.home .frame-6 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  height: 85px;
  position: relative;
}

.home .frame-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
}

.home .frame-8 {
  flex: 0 0 auto;
  position: relative;
}

.home .frame-9 {
  height: 110px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.home .group-15 {
  height: 369px;
  left: 25px;
  position: absolute;
  top: 440px;
  width: 378px;
}

.home .status-bar {
  height: 22px;
  left: 15px;
  position: absolute;
  top: 20px;
  width: 398px;
}

.home .battery {
  height: 14px;
  left: 369px;
  position: absolute;
  top: 5px;
  width: 29px;
}

.home .wifi {
  height: 13px;
  left: 344px;
  position: absolute;
  top: 5px;
  width: 18px;
}

.home .cellular-connection {
  height: 13px;
  left: 318px;
  position: absolute;
  top: 5px;
  width: 20px;
}

.home .time-style {
  height: 22px;
  left: 0;
  position: absolute;
  top: 0;
  width: 42px;
}

.home .text-wrapper-10 {
  color: #000000;
  font-family: "SF Pro Text-Semibold", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 40px;
}

.home .frame-10 {
  height: 28px;
  left: 289px;
  position: absolute;
  top: 63px;
  width: 28px;
}

.home .notifications-none {
  height: 28px;
  left: 327px;
  position: absolute;
  top: 63px;
  width: 28px;
}

.home .frame-11 {
  height: 28px;
  left: 365px;
  position: absolute;
  top: 63px;
  width: 28px;
}

.home .frame-12 {
  align-items: flex-start;
  display: inline-flex;
  gap: 92px;
  left: 70px;
  position: absolute;
  top: 1004px;
}

.home .frame-13 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 25px;
  position: relative;
}

.home .frame-14 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 5px;
  position: relative;
}

.home .like {
  height: 18px;
  margin-left: -1255.00px;
  margin-top: -1900.00px;
  position: relative;
  width: 18px;
}

.home .text-wrapper-11 {
  color: #000000;
  font-family: "SF Pro Text-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.60px;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home .vector {
  height: 15px;
  margin-left: -1338.00px;
  margin-top: -1900.00px;
  position: relative;
  width: 16px;
}

.home .vector-2 {
  height: 15px;
  margin-left: -1085.00px;
  margin-top: -1900.00px;
  position: relative;
  width: 18px;
}

.home .group-16 {
  height: 13px;
  margin-left: -984.88px;
  margin-top: -1900.00px;
  position: relative;
  width: 8.12px;
}

.home .frame-15 {
  align-items: flex-start;
  display: inline-flex;
  gap: 92px;
  left: 70px;
  position: absolute;
  top: 1069px;
}

.home .like-2 {
  height: 18px;
  margin-left: -1255.00px;
  margin-top: -1965.00px;
  position: relative;
  width: 18px;
}

.home .vector-3 {
  height: 15px;
  margin-left: -1338.00px;
  margin-top: -1965.00px;
  position: relative;
  width: 16px;
}

.home .vector-4 {
  height: 15px;
  margin-left: -1085.00px;
  margin-top: -1965.00px;
  position: relative;
  width: 18px;
}

.home .group-17 {
  height: 13px;
  margin-left: -984.88px;
  margin-top: -1965.00px;
  position: relative;
  width: 8.12px;
}
