:root {
  --12-sp-caption-font-family: "Inter", Helvetica;
  --12-sp-caption-font-size: 12px;
  --12-sp-caption-font-style: normal;
  --12-sp-caption-font-weight: 500;
  --12-sp-caption-letter-spacing: 0px;
  --12-sp-caption-line-height: 16px;
  --16-sp-body-1-font-family: "Inter", Helvetica;
  --16-sp-body-1-font-size: 16px;
  --16-sp-body-1-font-style: normal;
  --16-sp-body-1-font-weight: 400;
  --16-sp-body-1-letter-spacing: 0.16px;
  --16-sp-body-1-line-height: 24px;
  --blue: rgba(0, 129, 255, 1);
  --dark-text: rgba(46, 50, 56, 1);
  --text-muted: rgba(156, 160, 172, 1);
  --x-light-dark: rgba(38, 50, 56, 1);
  --x-light-light: rgba(255, 255, 255, 1);
}
