.meet-awesome-people {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.meet-awesome-people .overlap-group-wrapper-4 {
  background-color: #ffffff;
  height: 926px;
  width: 428px;
}

.meet-awesome-people .overlap-group-6 {
  background-image: url(../../../static/img/mask-group-4.png);
  background-size: 100% 100%;
  height: 926px;
  position: relative;
}

.meet-awesome-people .rectangle-14 {
  background-color: #c4c4c4;
  border-radius: 5px;
  height: 4px;
  left: 149px;
  position: absolute;
  top: 907px;
  width: 130px;
}

.meet-awesome-people .frame-30 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 34px;
  left: 21px;
  position: absolute;
  top: 150px;
}

.meet-awesome-people .frame-31 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 26px;
  position: relative;
}

.meet-awesome-people .remote-meeting-amico {
  height: 279.46px;
  position: relative;
  width: 261.38px;
}

.meet-awesome-people .frame-32 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.meet-awesome-people .span-wrapper-2 {
  color: #000000;
  font-family: "SF Pro Text-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 39px;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 386px;
}

.meet-awesome-people .text-wrapper-20 {
  color: #000000;
  font-family: "SF Pro Text-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 18px;
}

.meet-awesome-people .text-wrapper-21 {
  color: #000000;
  font-family: "SF Pro Text-Light", Helvetica;
  font-size: 16px;
  font-weight: 300;
  height: 54px;
  letter-spacing: 0;
  line-height: 25.6px;
  position: relative;
  text-align: center;
  width: 385px;
}

.meet-awesome-people .frame-33 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.meet-awesome-people .rectangle-15 {
  background-color: #c4c4c4;
  border-radius: 5px;
  height: 8px;
  position: relative;
  width: 8px;
}

.meet-awesome-people .rectangle-16 {
  background-color: #007aff;
  border-radius: 5px;
  height: 8px;
  position: relative;
  width: 27px;
}

.meet-awesome-people .frame-34 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 31px;
  position: relative;
}

.meet-awesome-people .outlined-text-only-2 {
  display: block;
  height: 50px;
  position: relative;
  width: 321px;
}

.meet-awesome-people .outlined-labeled-2 {
  background-color: #007aff;
  border-radius: 10px;
  height: 50px;
  position: relative;
}

.meet-awesome-people .text-data-3 {
  color: #ffffff;
  font-family: var(--16-sp-body-1-font-family);
  font-size: var(--16-sp-body-1-font-size);
  font-style: var(--16-sp-body-1-font-style);
  font-weight: var(--16-sp-body-1-font-weight);
  height: 30px;
  left: 12px;
  letter-spacing: var(--16-sp-body-1-letter-spacing);
  line-height: var(--16-sp-body-1-line-height);
  position: absolute;
  text-align: center;
  top: 9px;
  width: 297px;
}

.meet-awesome-people .text-wrapper-22 {
  color: #0f55b0;
  display: block;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.meet-awesome-people .status-bar-5 {
  height: 22px;
  left: 15px;
  position: absolute;
  top: 20px;
  width: 398px;
}

.meet-awesome-people .battery-5 {
  height: 14px;
  left: 369px;
  position: absolute;
  top: 5px;
  width: 29px;
}

.meet-awesome-people .wifi-5 {
  height: 13px;
  left: 344px;
  position: absolute;
  top: 5px;
  width: 18px;
}

.meet-awesome-people .cellular-connection-5 {
  height: 13px;
  left: 318px;
  position: absolute;
  top: 5px;
  width: 20px;
}

.meet-awesome-people .time-style-5 {
  height: 22px;
  left: 0;
  position: absolute;
  top: 0;
  width: 42px;
}

.meet-awesome-people .text-wrapper-23 {
  color: #000000;
  font-family: "SF Pro Text-Semibold", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 40px;
}
