.find-friends-get {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.find-friends-get .overlap-group-wrapper-3 {
  background-color: #ffffff;
  height: 926px;
  width: 428px;
}

.find-friends-get .overlap-group-5 {
  background-image: url(../../../static/img/mask-group-3.png);
  background-size: 100% 100%;
  height: 926px;
  position: relative;
}

.find-friends-get .rectangle-10 {
  background-color: #c4c4c4;
  border-radius: 5px;
  height: 4px;
  left: 140px;
  position: absolute;
  top: 907px;
  width: 130px;
}

.find-friends-get .frame-25 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 48px;
  left: 53px;
  position: absolute;
  top: 150px;
}

.find-friends-get .frame-26 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 26px;
  position: relative;
}

.find-friends-get .connected-world {
  height: 261.04px;
  position: relative;
  width: 315.3px;
}

.find-friends-get .frame-27 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 19px;
  position: relative;
}

.find-friends-get .text-wrapper-16 {
  color: #000000;
  font-family: "SF Pro Text-Heavy", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 27px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.find-friends-get .text-wrapper-17 {
  color: #000000;
  font-family: "SF Pro Text-Light", Helvetica;
  font-size: 16px;
  font-weight: 300;
  height: 72px;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-align: center;
  width: 317px;
}

.find-friends-get .frame-28 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.find-friends-get .rectangle-11 {
  background-color: #c4c4c4;
  border-radius: 5px;
  display: block;
  height: 8px;
  position: relative;
  width: 8px;
}

.find-friends-get .rectangle-12 {
  background-color: #007aff;
  border-radius: 5px;
  height: 8px;
  position: relative;
  width: 27px;
}

.find-friends-get .rectangle-13 {
  background-color: #c4c4c4;
  border-radius: 5px;
  height: 8px;
  position: relative;
  width: 8px;
}

.find-friends-get .frame-29 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.find-friends-get .outlined-labeled-wrapper {
  display: block;
  height: 50px;
  position: relative;
  width: 321px;
}

.find-friends-get .text-data-wrapper {
  background-color: #007aff;
  border-radius: 10px;
  height: 50px;
  position: relative;
}

.find-friends-get .text-data-2 {
  color: #ffffff;
  font-family: var(--16-sp-body-1-font-family);
  font-size: var(--16-sp-body-1-font-size);
  font-style: var(--16-sp-body-1-font-style);
  font-weight: var(--16-sp-body-1-font-weight);
  height: 30px;
  left: 12px;
  letter-spacing: var(--16-sp-body-1-letter-spacing);
  line-height: var(--16-sp-body-1-line-height);
  position: absolute;
  text-align: center;
  top: 9px;
  width: 297px;
}

.find-friends-get .text-wrapper-18 {
  color: #5096f1;
  display: block;
  font-family: var(--16-sp-body-1-font-family);
  font-size: var(--16-sp-body-1-font-size);
  font-style: var(--16-sp-body-1-font-style);
  font-weight: var(--16-sp-body-1-font-weight);
  letter-spacing: var(--16-sp-body-1-letter-spacing);
  line-height: var(--16-sp-body-1-line-height);
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.find-friends-get .status-bar-4 {
  height: 22px;
  left: 15px;
  position: absolute;
  top: 20px;
  width: 398px;
}

.find-friends-get .battery-4 {
  height: 14px;
  left: 369px;
  position: absolute;
  top: 5px;
  width: 29px;
}

.find-friends-get .wifi-4 {
  height: 13px;
  left: 344px;
  position: absolute;
  top: 5px;
  width: 18px;
}

.find-friends-get .cellular-connection-4 {
  height: 13px;
  left: 318px;
  position: absolute;
  top: 5px;
  width: 20px;
}

.find-friends-get .time-style-4 {
  height: 22px;
  left: 0;
  position: absolute;
  top: 0;
  width: 42px;
}

.find-friends-get .text-wrapper-19 {
  color: #000000;
  font-family: "SF Pro Text-Semibold", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 40px;
}
