.sign-in {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.sign-in .overlap-wrapper-2 {
  background-color: #ffffff;
  height: 926px;
  width: 428px;
}

.sign-in .overlap-7 {
  height: 926px;
  position: relative;
}

.sign-in .outlined-text-only-5 {
  display: block;
  height: 50px;
  left: 54px;
  position: absolute;
  top: 510px;
  width: 319px;
}

.sign-in .outlined-labeled-5 {
  background-color: #5096f1;
  border-radius: 10px;
  height: 50px;
  position: relative;
}

.sign-in .text-data-6 {
  color: #ffffff;
  font-family: var(--16-sp-body-1-font-family);
  font-size: var(--16-sp-body-1-font-size);
  font-style: var(--16-sp-body-1-font-style);
  font-weight: var(--16-sp-body-1-font-weight);
  height: 30px;
  left: 12px;
  letter-spacing: var(--16-sp-body-1-letter-spacing);
  line-height: var(--16-sp-body-1-line-height);
  position: absolute;
  text-align: center;
  top: 9px;
  width: 295px;
}

.sign-in .mask-group {
  height: 926px;
  left: 0;
  position: absolute;
  top: 0;
  width: 428px;
}

.sign-in .rectangle-19 {
  background-color: #c4c4c4;
  border-radius: 5px;
  height: 4px;
  left: 149px;
  position: absolute;
  top: 907px;
  width: 130px;
}

.sign-in .status-bar-7 {
  height: 22px;
  left: 15px;
  position: absolute;
  top: 20px;
  width: 398px;
}

.sign-in .battery-7 {
  height: 14px;
  left: 369px;
  position: absolute;
  top: 5px;
  width: 29px;
}

.sign-in .wifi-7 {
  height: 13px;
  left: 344px;
  position: absolute;
  top: 5px;
  width: 18px;
}

.sign-in .cellular-connection-7 {
  height: 13px;
  left: 318px;
  position: absolute;
  top: 5px;
  width: 20px;
}

.sign-in .time-style-7 {
  height: 22px;
  left: 0;
  position: absolute;
  top: 0;
  width: 42px;
}

.sign-in .text-wrapper-31 {
  color: #000000;
  font-family: "SF Pro Text-Semibold", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 40px;
}

.sign-in .frame-44 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 47px;
  left: 54px;
  position: absolute;
  top: 100px;
}

.sign-in .frame-45 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.sign-in .frame-46 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  position: relative;
}

.sign-in .frame-47 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 84px;
  position: relative;
}

.sign-in .frame-48 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.sign-in .frame-49 {
  align-items: flex-start;
  background-color: #bce7ff;
  border-radius: 10px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  position: relative;
}

.sign-in .union-5 {
  height: 27.17px;
  position: relative;
  width: 28.03px;
}

.sign-in .frame-50 {
  display: block;
  height: 31px;
  position: relative;
  width: 242px;
}

.sign-in .overlap-group-9 {
  height: 27px;
  position: relative;
  top: 4px;
}

.sign-in .group-23 {
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  width: 242px;
}

.sign-in .union-6 {
  height: 27px;
  left: 21px;
  position: absolute;
  top: 0;
  width: 28px;
}

.sign-in .frame-51 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 17px;
  position: relative;
}

.sign-in .frame-52 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 26px;
  position: relative;
}

.sign-in .text-wrapper-32 {
  color: #000000;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.sign-in .text-wrapper-33 {
  color: #00000099;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.sign-in .group-24 {
  background-color: #c4c4c4;
  border-radius: 5px;
  height: 2px;
  position: relative;
  width: 308px;
}

.sign-in .rectangle-20 {
  background-color: #0779b8;
  border-radius: 5px;
  height: 2px;
  width: 57px;
}

.sign-in .frame-53 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.sign-in .group-25 {
  height: 140px;
  position: relative;
  width: 321px;
}

.sign-in .outlined-text-only-6 {
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 321px;
}

.sign-in .outlined-labeled-6 {
  border: 1px solid;
  border-color: var(--x-light-dark);
  border-radius: 8px;
  height: 56px;
  position: relative;
}

.sign-in .label-caption-2 {
  -webkit-text-stroke: 4px #ffffff;
  border-color: var(--x-light-light);
  color: var(--x-light-dark);
  font-family: "Inter-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 7px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: -13px;
  white-space: nowrap;
  width: 309px;
}

.sign-in .text-data-7 {
  color: #26323899;
  font-family: var(--16-sp-body-1-font-family);
  font-size: var(--16-sp-body-1-font-size);
  font-style: var(--16-sp-body-1-font-style);
  font-weight: var(--16-sp-body-1-font-weight);
  height: 36px;
  left: 11px;
  letter-spacing: var(--16-sp-body-1-letter-spacing);
  line-height: var(--16-sp-body-1-line-height);
  position: absolute;
  top: 8px;
  width: 297px;
}

.sign-in .outlined-text-only-7 {
  height: 56px;
  left: 0;
  position: absolute;
  top: 84px;
  width: 321px;
}

.sign-in .outlined-text-only-8 {
  display: block;
  height: 50px;
  position: relative;
  width: 320px;
}

.sign-in .outlined-labeled-7 {
  background-color: #007aff;
  border-radius: 10px;
  height: 50px;
  position: relative;
}

.sign-in .text-data-8 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 30px;
  left: 12px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 296px;
}

.sign-in .text-wrapper-34 {
  color: #000000;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 25.6px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.sign-in .frame-54 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.sign-in .frame-55 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 13px;
  position: relative;
}

.sign-in .group-26 {
  height: 26px;
  position: relative;
  width: 316px;
}

.sign-in .text-wrapper-35 {
  color: #000000;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 26px;
  left: 105px;
  letter-spacing: 0;
  line-height: 25.6px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.sign-in .line-6 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 90px;
}

.sign-in .line-7 {
  height: 1px;
  left: 224px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 90px;
}

.sign-in .frame-56 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.sign-in .sign-in-with-3 {
  border: 1px solid;
  border-color: #656f78;
  border-radius: 5px;
  height: 40px;
  overflow: hidden;
  position: relative;
  width: 150px;
}

.sign-in .group-27 {
  height: 22px;
  left: 41px;
  position: relative;
  top: 9px;
  width: 71px;
}

.sign-in .flat-color-icons-2 {
  height: 16px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 16px;
}

.sign-in .text-wrapper-36 {
  color: #656f78;
  font-family: "Inter-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 22px;
  left: 21px;
  letter-spacing: 0;
  line-height: 22.4px;
  position: absolute;
  top: 0;
  width: 48px;
}

.sign-in .sign-in-with-4 {
  height: 40px;
  position: relative;
  width: 150px;
}

.sign-in .don-t-have-a-account {
  color: transparent;
  font-family: "SF Pro Text-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25.6px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.sign-in .text-wrapper-37 {
  color: #656f78;
}

.sign-in .text-wrapper-38 {
  color: #5398f1;
}
