.hangout-with-with {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.hangout-with-with .overlap-group-wrapper-2 {
  background-color: #ffffff;
  height: 926px;
  width: 428px;
}

.hangout-with-with .overlap-group-4 {
  background-image: url(../../../static/img/mask-group-2.png);
  background-size: 100% 100%;
  height: 926px;
  position: relative;
}

.hangout-with-with .rectangle-7 {
  background-color: #c4c4c4;
  border-radius: 5px;
  height: 4px;
  left: 149px;
  position: absolute;
  top: 907px;
  width: 130px;
}

.hangout-with-with .frame-20 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 35px;
  left: 53px;
  position: absolute;
  top: 150px;
}

.hangout-with-with .frame-21 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 25px;
  position: relative;
}

.hangout-with-with .online-friends-cuate {
  height: 271.66px;
  position: relative;
  width: 248.04px;
}

.hangout-with-with .frame-22 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 34px;
  position: relative;
}

.hangout-with-with .span-wrapper {
  color: #000000;
  font-family: "SF Pro Text-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.hangout-with-with .text-wrapper-13 {
  color: #000000;
  font-family: "SF Pro Text-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 18px;
}

.hangout-with-with .p {
  color: #000000;
  font-family: "SF Pro Text-Light", Helvetica;
  font-size: 16px;
  font-weight: 300;
  height: 72px;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-align: center;
  width: 322px;
}

.hangout-with-with .frame-23 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.hangout-with-with .rectangle-8 {
  background-color: #c4c4c4;
  border-radius: 5px;
  height: 8px;
  position: relative;
  width: 8px;
}

.hangout-with-with .rectangle-9 {
  background-color: #007aff;
  border-radius: 5px;
  height: 8px;
  position: relative;
  width: 27px;
}

.hangout-with-with .frame-24 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 31px;
  position: relative;
}

.hangout-with-with .outlined-text-only {
  display: block;
  height: 50px;
  position: relative;
  width: 320px;
}

.hangout-with-with .outlined-labeled {
  background-color: #007aff;
  border-radius: 10px;
  height: 50px;
  position: relative;
}

.hangout-with-with .text-data {
  color: #ffffff;
  font-family: var(--16-sp-body-1-font-family);
  font-size: var(--16-sp-body-1-font-size);
  font-style: var(--16-sp-body-1-font-style);
  font-weight: var(--16-sp-body-1-font-weight);
  height: 30px;
  left: 12px;
  letter-spacing: var(--16-sp-body-1-letter-spacing);
  line-height: var(--16-sp-body-1-line-height);
  position: absolute;
  text-align: center;
  top: 9px;
  width: 296px;
}

.hangout-with-with .text-wrapper-14 {
  color: #5096f1;
  display: block;
  font-family: var(--16-sp-body-1-font-family);
  font-size: var(--16-sp-body-1-font-size);
  font-style: var(--16-sp-body-1-font-style);
  font-weight: var(--16-sp-body-1-font-weight);
  letter-spacing: var(--16-sp-body-1-letter-spacing);
  line-height: var(--16-sp-body-1-line-height);
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.hangout-with-with .status-bar-3 {
  height: 22px;
  left: 15px;
  position: absolute;
  top: 20px;
  width: 398px;
}

.hangout-with-with .battery-3 {
  height: 14px;
  left: 369px;
  position: absolute;
  top: 5px;
  width: 29px;
}

.hangout-with-with .wifi-3 {
  height: 13px;
  left: 344px;
  position: absolute;
  top: 5px;
  width: 18px;
}

.hangout-with-with .cellular-connection-3 {
  height: 13px;
  left: 318px;
  position: absolute;
  top: 5px;
  width: 20px;
}

.hangout-with-with .time-style-3 {
  height: 22px;
  left: 0;
  position: absolute;
  top: 0;
  width: 42px;
}

.hangout-with-with .text-wrapper-15 {
  color: #000000;
  font-family: "SF Pro Text-Semibold", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 40px;
}
